.post
  .post-header
    h2= post.title
  .post-content
    p= post.content
  .post-footer
    - if (user)
      p Posted #{post.date} | 
        a(href='#') Edit
        &nbsp;|
        a(href='/delete/' + post._id) Delete
    - else
      p Posted #{post.date}